## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.dbmdl
*.jfm
launchSettings.json

## Rider
.idea/
*.sln.iml

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## OS files
.DS_Store
Thumbs.db

## Publish
*.publish.xml
publish/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml

## Local secrets
LOCAL-SECRETS*
secrets.json
